/* index.css - safe for use with MUI ThemeProvider */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr; 
}


a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}


* {
  box-sizing: border-box;
}
